# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR THE PACKAGE'S COPYRIGHT HOLDER
# This file is distributed under the same license as the PACKAGE package.
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
#, fuzzy
msgid ""
msgstr ""
"Project-Id-Version: PACKAGE VERSION\n"
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2019-03-21 13:34+0800\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: FULL NAME <EMAIL@ADDRESS>\n"
"Language-Team: LANGUAGE <LL@li.org>\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"

msgid "%1 &Handbook"
msgstr ""

msgid "&About %1"
msgstr ""

msgid "&Actual Size"
msgstr ""

msgid "&Add Bookmark"
msgstr ""

msgid "&Back"
msgstr ""

msgid "&Close"
msgstr ""

msgid "&Configure %1..."
msgstr ""

msgid "&Copy"
msgstr ""

msgid "&Delete"
msgstr ""

msgid "&Donate"
msgstr ""

msgid "&Edit Bookmarks..."
msgstr ""

msgid "&Find..."
msgstr ""

msgid "&First Page"
msgstr ""

msgid "&Fit to Page"
msgstr ""

msgid "&Forward"
msgstr ""

msgid "&Go To..."
msgstr ""

msgid "&Go to Line..."
msgstr ""

msgid "&Go to Page..."
msgstr ""

msgid "&Help"
msgstr ""

msgid "&Home"
msgstr ""

msgid "&Last Page"
msgstr ""

msgid "&Mail..."
msgstr ""

msgid "&Move to Trash"
msgstr ""

msgid "&New"
msgstr ""

msgid "&Next"
msgstr ""

msgid "&Next Page"
msgstr ""

msgid "&Open..."
msgstr ""

msgid "&Paste"
msgstr ""

msgid "&Previous"
msgstr ""

msgid "&Previous Page"
msgstr ""

msgid "&Print..."
msgstr ""

msgid "&Quit"
msgstr ""

msgid "&Redisplay"
msgstr ""

msgid "&Rename..."
msgstr ""

msgid "&Replace..."
msgstr ""

msgid "&Report Bug..."
msgstr ""

msgid "&Save"
msgstr ""

msgid "&Save Settings"
msgstr ""

msgid "&Show tips on startup"
msgstr ""

msgid "&Spelling..."
msgstr ""

msgid "&Undo"
msgstr ""

msgid "&Up"
msgstr ""

msgid "&Zoom..."
msgstr ""

msgid "About &KDE"
msgstr ""

msgid "Autodetect"
msgstr ""

msgid "C&lear"
msgstr ""

msgid "Check spelling in document"
msgstr ""

msgid "Clear List"
msgstr ""

msgid "Close document"
msgstr ""

msgid "Configure"
msgstr ""

msgid "Configure &Notifications..."
msgstr ""

msgid "Configure S&hortcuts..."
msgstr ""

msgid "Configure Tool&bars..."
msgstr ""

msgid "Copy selection to clipboard"
msgstr ""

msgid "Create new document"
msgstr ""

msgid "Cu&t"
msgstr ""

msgid "Cut selection to clipboard"
msgstr ""

msgid "Default"
msgstr ""

msgid "Dese&lect"
msgstr ""

msgid "Did you know...?\n"
msgstr ""

msgid "F&ull Screen Mode"
msgstr ""

msgid "Find &Next"
msgstr ""

msgid "Find Pre&vious"
msgstr ""

msgid "Fit to Page &Height"
msgstr ""

msgid "Fit to Page &Width"
msgstr ""

msgid "Go back in document"
msgstr ""

msgid "Go forward in document"
msgstr ""

msgid "Go to first page"
msgstr ""

msgid "Go to last page"
msgstr ""

msgid "Go to next page"
msgstr ""

msgid "Go to previous page"
msgstr ""

msgid "Go up"
msgstr ""

msgid "No Entries"
msgstr ""

msgid "Open &Recent"
msgstr ""

msgid "Open a document which was recently opened"
msgstr ""

msgid "Open an existing document"
msgstr ""

msgid "Paste clipboard content"
msgstr ""

msgid "Print Previe&w"
msgstr ""

msgid "Print document"
msgstr ""

msgid "Quit application"
msgstr ""

msgid "Re&do"
msgstr ""

msgid "Re&vert"
msgstr ""

msgid "Redisplay document"
msgstr ""

msgid "Redo last undone action"
msgstr ""

msgid "Revert unsaved changes made to document"
msgstr ""

msgid "Save &As..."
msgstr ""

msgid "Save document"
msgstr ""

msgid "Save document under a new name"
msgstr ""

msgid "Select &All"
msgstr ""

msgid "Select zoom level"
msgstr ""

msgid "Send document by mail"
msgstr ""

msgid "Show &Menubar"
msgstr ""

msgid "Show &Toolbar"
msgstr ""

msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""

msgid "Show St&atusbar"
msgstr ""

msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""

msgid "Show a print preview of document"
msgstr ""

msgid "Show or hide menubar"
msgstr ""

msgid "Show or hide statusbar"
msgstr ""

msgid "Show or hide toolbar"
msgstr ""

msgid "Switch Application &Language..."
msgstr ""

msgid "Tip of the &Day"
msgstr ""

msgid "Tip of the Day"
msgstr ""

msgid "Undo last action"
msgstr ""

msgid "View document at its actual size"
msgstr ""

msgid "What's &This?"
msgstr ""

msgid "You are not allowed to save the configuration"
msgstr ""

msgid "You will be asked to authenticate before saving"
msgstr ""

msgid "Your emails"
msgstr ""

msgid "Your names"
msgstr ""

msgid "Zoom &In"
msgstr ""

msgid "Zoom &Out"
msgstr ""

msgid "Zoom to fit page height in window"
msgstr ""

msgid "Zoom to fit page in window"
msgstr ""

msgid "Zoom to fit page width in window"
msgstr ""
